

@media screen and (max-width: 1980px){
    #sidebar {
        height: 3.5em;
        left: 0;
        line-height: 3.5em;
        overflow: hidden;
        padding: 0;
        text-align: center;
        top: 0;
        width: 100%;
    }
  }
  
  @media screen and (max-width: 1980px){
    #sidebar+#wrapper {
        margin-left: 0;
        padding-top: 3.5em;
        min-width:0;
        text-align: center;
    }
    .section{
      left: 0;
    }
  }
  
  @media screen and (min-width: 1140px){
    .container, .container-sm, .container-md, .container-lg, .container-xl {
        max-width:100%;
    }
  }
  